<footer class="py-5 mt-5 bg-light">
  <div class="container py-3 text-center">
    <div>Made with ❤ by <a class="url" target="_blank" href="http://www.mohityadav.me">Mohit Yadav</a></div>
    <div class="footer-icons my-2">
      <a href="https://github.com/mohityadav7" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/_mohit_yadav" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/mohityadav7/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.facebook.com/mohityadav21" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="mailto:mohityadav1921@gmail.com?subject=From Smally&body=Hi Mohit, I saw your url-shortner project and "><i class="fas fa-envelope"></i></a>
    </div>
  </div>
</footer>