<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-container container">
    <a class="navbar-brand" href="/">Smally</a>
    <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>

      <ul class="navbar-nav ml-auto">
        <!-- show if user is not logged in -->
        <% if(!user){ %>
        <li class="nav-item">
          <a onclick="switchTheme()" class="nav-link themeSwitcher" href="#">Switch Theme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/google">Login with Google</a>
        </li>
        <% } %>

        <!-- show if user is logged in -->
        <% if(user){ %>
        <li class="nav-item dropdown hide-below-992 show-above-992">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user.username %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a onclick="switchTheme()" class="dropdown-item themeSwitcher" href="#">Switch Theme</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/auth/logout">Logout</a>
          </div>
        </li>

        <li class="nav-item show-below-992 hide-above-992 mt-3">
          <a class="nav-link" href="#">
            <%= user.username %>
          </a>
        </li>
        <li class="nav-item show-below-992 hide-above-992">
          <a onclick="switchTheme()" class="nav-link themeSwitcher" href="#">Switch Theme</a>
        </li>
        <li class="nav-item show-below-992 hide-above-992">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
    </div>
    <% } %>
    </ul>
  </div>
  </div>
</nav>