<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>URL Shortener</title>
  </head>
  <body class="container" align="center">
    <h1 class="text-center display-4 mb-4">Shorten your URL</h1>

    <form id="shortUrlCreatorForm">
      <div class="form-row align-items-center">
        <div class="col-md-12">

          <div class="input-group mb-2">
            <div class="input-group-prepend"><div class="input-group-text">URL</div></div>
            <input type="text" name="url" class="form-control" id="url" placeholder="URL (complete)">
          </div>

          <div class="input-group mb-2">
            <div class="input-group-prepend"><div class="input-group-text">https://url.com/</div></div>
            <input type="text" name="key" class="form-control" id="key" placeholder="(Optional) Your custom url">
          </div>
        </div>

        <div class="col-md-12">
          <button type="submit" id="short" class="d-block mx-auto btn btn-primary mb-2">Shorten</button>
        </div>
      </div>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./init.js"></script>
  </body>
</html>
