body {
    color: #ddd;
}

a,
a:hover {
    color: #ddd;
    text-decoration: none;
}

input[type="text"] {
    background-color: rgba(82, 82, 82, 0.4) !important;
    color: #ddd !important;
}

/* #shortUrlCreatorForm {
    background-color: #33333355;
} */

.bg-light-dark {
    background-color: #333 !important;
}

.bg-lighter-dark {
    background-color: #444 !important;
}

.shadow-dark {
    box-shadow: 2px 2px 20px #000;
}

.shadow-light {
    box-shadow: 2px 2px 20px #111;
}