body {
  color: #777;
}

a,
a:hover {
  color: #777;
}

.bg-light-dark {
  background-color: #eee;
}

.bg-lighter-dark {
  background-color: #eee;
}

.shadow-dark {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.shadow-light {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
